<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="center">
        <span class="title">
            I'm a...
        </span>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="row2">
            <button  id="option" class="visual">
                <img class="buttonPic" src="visual.png" alt="">
                Visual Learner
            </button>
            <script type="text/javascript">
                document.getElementById("option").onclick = function () {
                    location.href = "dashboard.html";
                };
            </script>

            <button class="tactile">
                <img class="buttonPic" src="tactile.png" alt="">
                Tactile Learner</button>
            <script type="text/javascript">
                document.getElementById("option").onclick = function () {
                    location.href = "dashboard.html";
                };
            </script>

            <button class="auditory">
                <img class="buttonPic" src="auditory.png" alt="">
                Auditory Learner</button>
            <script type="text/javascript">
                document.getElementById("option").onclick = function () {
                    location.href = "dashboard.html";
                };
            </script>
        </div>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="center2">
            <button class="solidButton">
                I dont know!
            </button>
        </div>
      
    </div>

</body>
</html>