<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <button id="back" class="homeButton"></button>
    <script type="text/javascript">
      document.getElementById("back").onclick = function () {
        location.href = "/";
      };
    </script>
    <br />
    <br />
    <br />
    <br />

    <div class="center">
      <span class="title">
        Let's set up your player profile and play some cool study games based on
        your learning style!
      </span>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="nameCard">
        <span class="title"> My name is </span>
        <br />
        <br />
        <input class="textInput" type="text" name="" id="nameInput" />
        <br />
        <br />
        <br />
        <button class="solidButton" id="save" onclick="showCustomMsg()">save!</button>
      </div>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="title" id="customMsg"></div>

      <script>
        const name = document.getElementById("nameInput");
        const msgArea = document.getElementById("customMsg");

        function showCustomMsg() {
            let message = document.createElement("SPAN");
            message.innerHTML =
              "Okay, " +
              name.value +
              "! \n Now choose your learning style below to start a game tailored just for you! If you don't know your style, press the \"IDK\" button!";
            msgArea.appendChild(message);
            document.getElementById("save").onclick = null;
        }
      </script>

      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <div class="chooseCard">
        <span class="title"> I want to play games for... </span>

        <br />
        <br />
        <br />
        <br />

        <div class="row2">
          <button id="option" onclick="startPygameGame()" class="visual">
            <img class="buttonPic" src="../static/assets/visual.png" alt="" />
            Visual Learners
          </button>

          <button class="tactile">
            <img
              class="buttonPic"
              onclick="startRenpyGame()"
              src="../static/assets/tactile.png"
              alt=""
            />
            Tactile Learners
          </button>

          <button class="auditory">
            <img
              class="buttonPic"
              onclick="startRenpyGame()"
              src="../static/assets/auditory.png"
              alt=""
            />
            Auditory Learners
          </button>
        </div>

        <script>
          function startPygameGame() {
            fetch("/start_pygame_game")
              .then((response) => response.text())
              .then((data) => console.log(data))
              .catch((error) => console.error(error));
          }

          function startRenpyGame() {
            fetch("/start_renpy_game")
              .then((response) => response.text())
              .then((data) => console.log(data))
              .catch((error) => console.error(error));
          }
        </script>

        <br />
        <br />
        <br />
        <br />

        <div class="center2">
          <button id="quiz" class="solidButton">IDK!</button>
          <script>
             document.getElementById("quiz").onclick = function () {
              window.location.href = "https://youtu.be/_IopcOwfsoU?si=JmulS9x6i_cVONtE";
             }
          </script>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
  </body>
</html>
