<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/style.css">
    <title>Document</title>
</head>
<body>
    
   
    <br>
    <br>
    <br>
    <br>


    <div class="center">
        <img src="../static/assets/logo.png" alt="Logo" id="logo" style="position: absolute; top: -50px; left: -50px; width: 25%; height: auto; margin: 10px;">
        <span class="title">
            Miss Mango's Class
         </span>

        
         <br>
         <br>
         <br>
         <br>
         <br>

        <span class="titleLeft">
            Today's Games
        </span>

        <br>
        <br>
        
            <div class="row">
                <button class="gameCard" onclick="startPygameGame()">Flash Card Frenzy!</button>
                <button class="gameCard" onclick="startRenpyGame()">Mango Beat!</button>
                <button class="gameCard">test</button>
            </div>
    
       
     
        <br>
        <br>
        <br>
        <br>

        <span class="titleLeft">
            Class Material
        </span>

        <br>
        <br>

        <span class="reviewCard">
            Online textbook
            <br>
            <br>
            Class recordings
            <br>
            <br>
            Syllabus
        </span>

  
    </div>
        



</body>
</html>