<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/style.css">
    <title>Document</title>
</head>
<body>
    
   
    <br>
    <br>
    <br>
    <br>


    <div class="center">

        <span class="title">
            Miss Mango's Class
         </span>

        
         <br>
         <br>
         <br>
         <br>
         <br>

        <span class="titleLeft">
            Today's Games
        </span>

        <br>
        <br>
        
            <div class="row">
                <span class="gameCard">test</span>
                <span class="gameCard">test</span>
                <span class="gameCard">test</span>
            </div>
    
       
     
        <br>
        <br>
        <br>
        <br>

        <span class="titleLeft">
            Class Material
        </span>

        <br>
        <br>

        <span class="reviewCard">
            Online textbook
            <br>
            <br>
            Class recordings
            <br>
            <br>
            Syllabus
        </span>

    </div>
        



</body>
</html>