<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jua&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/style.css">
    <title>Document</title>
</head>

<body>
    <br>
    <br>
    <br>
    <br>

    <div class="center">
        <img src="../static/assets/logo.png" alt="Logo" id="logo" style="position: absolute; top: -50px; left: -50px; width: 25%; height: auto; margin: 10px;">
        <span class="title">
            Miss Mango's Class
        </span>

        <br>
        <br>
        <br>

        <span class="text">
            Welcome to Miss Mango's class where learning meets fun in the most engaging way possible! Step into our
            virtual classroom where super fun games await elementary school children eager to explore, discover, and
            learn. Here, you can take your learning to next levels with our progress AI technology that helps create
            tailored questions for your students. With our innovative approach, education transforms into an adventure,
            making every lesson an enjoyable journey of knowledge and discovery. Join us as we embark on a quest to make
            learning not just effective, but also incredibly fun!
        </span>

        <br>
        <br>
        <div style="text-align: center;">
        <img src="../static/assets/miss_mango.png" alt="Miss Mango Pic" style="width: 30%; height: auto;">
        </div>
        <br>
        <br>

        <span class="text">
            Every student has different strengths, and Miss Mango’s class aims to use those strengths to make learning
            the most fun it can be! Miss Mango's classroom uses AI to turn the content of your lesson into different
            ways for your student to learn. Depending on your student, we have visual, auditory, kinesthetic, and
            regular text-based options! If your student doesn’t know what type of learning style they favor, we use AI
            to track your students' retention of information and help determine the best style for them.
        </span>

        <br>
        <br>
        <br>
        <br>
        
        <div class="center2">
            <button id="next" class="solidButton">
                Get started!
            </button>
        </div>
    
        <script type="text/javascript">
            document.getElementById("next").onclick = function () {
                location.href = "/name";
            };
        </script>

    </div>
</body>

</html>