<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/style.css">
    <title>Document</title>
</head>
<body>
    
    <div class="middle">
        <img src="../static/assets/logo.png" alt="Logo" id="logo" style="position: absolute; top: -50px; left: -50px; width: 25%; height: auto; margin: 10px;">
        <span class="title">
            My name is 
        </span>

        <input class="textInput" type="text" name="" id="">

        <br>
        <br>
        <br>
        <br>
        <br>
            
        <div class="center2">
            <button id="next" class="solidButton">
                next!
            </button>
            <script type="text/javascript">
                document.getElementById("next").onclick = function () {
                    location.href = "/choose";
                };
            </script>
        </div>
   
          
    
    </div>

</body>
</html>