body {
    background-color: rgb(255, 255, 248);
}

.row {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.row2 {
    display: flex;
    justify-content: center;
}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    flex-direction: column;
    gap: 4%;
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
    text-align: center;
}

.left {
   display: flexbox;
    justify-content: left;
}

.center2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: #352c2c;
}

.titleLeft {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    text-align: left;
    color: #352c2c;
}

.smallTitle {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
    text-align: left;
    color: #352c2c;
    margin-bottom: 10%;
}

.text {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    text-align: left;
    color: #352c2c;
}

.gameCard {
    background-color: #f18c75;
    border-radius: 30px;
    border: none;
    padding: 10%;
    height: 100%;
    width: 100%;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: rgb(255, 246, 234);
}

.reviewCard {
    background-color: #e8bc6b;
    border-radius: 30px;
    padding: 10%;
    height: 100%;
    width: 100%;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    text-align: left;
    color: rgb(255, 246, 234);
}

.nameCard {
    background-color: #f5e7cc;
    border: #ebd19c 5px solid;
    padding: 10%;
    border-radius: 30px;;
}

.chooseCard {
    background-color: #f0edbc;
    border: #cbc56e 5px solid;
    padding: 10%;
    border-radius: 30px;;
}


.visual {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: #55a2e5;
    height: 100%;
    width: 100%;
}

.tactile {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: #e56d55;
    height: 100%;
    width: 100%;
}

.auditory {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: #6ca147;
    height: 100%;
    width: 100%;
}

.textInput {
    border: none;
    border-bottom: #352c2c 2px solid;
    background-color: transparent;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: #302c24;
    text-align: center;
 
}

.textInput:focus {
    outline: none;
    border-bottom: #b38a2a 2px solid;
}

.solidButton {
    background-color: #aab533;
    border-radius: 20px;
    border: none;
    height: 14%;
    width: 40%;
    padding: 1%;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: rgb(255, 246, 234);
}

.solidButton2 {
    background-color: #aab533;
    border-radius: 20px;
    border: none;
    height: 14%;
    width: 40%;
    padding: 1%;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    color: rgb(255, 246, 234);
}


.buttonPic {
    height: 120%;
    width: 120%;
    margin-left: -10px;
}

.logoPic {
    height: 30%;
    width: 30%;
}

.homeButton {
    background-image: url(./assets/logo.png);
    border: none;
    background-size: cover;
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-color: transparent;
}

.learningPic {
    border-radius: 10px;
    border: #afc553 3px solid;
}

.signIn {
    border-radius: 14px;
    border-color: transparent;
    background-color: #ea7d67;  
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    color: rgb(255, 246, 234);
    padding: 1%;
    margin-bottom: 20%;
}

.signUp {
    border-radius: 14px;
    border-color: transparent;
    background-color: #ea7d67;  
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    color: rgb(255, 246, 234);
    padding: 1%;
    margin-bottom: 10%;
}

::placeholder {
    color: rgb(255, 246, 234);
}